/* Variables */ 

$transition-time: 0.2s; /* for transition state on nav-link */

/* Colors */
$primary-color: #58e1c1;
$secondary-color: #777;
$link-color-hover: #fff;

$button-default: #51ddfc;
$button-error: #e4757a;
$button-info: #927bc1;
$button-success: #63cc82;
$button-warning: #fd7856;

/* Media Queries */

$mq-tablet: 768px;