/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover {
      background: lighten($button-default, 10%);

    }

  }
  
  .default {
    background-color: $button-default;
  }
  
  .error {
    background-color: $button-error;
  }
  
  .info {
    background-color: $button-info;
  }
  
  .success {
    background-color: $button-success;
  }
  
  .warning {
    background-color: $button-warning;
  }