/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    @include img-base;
  }
  
  .img-frame {
    @include img-base;
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  .img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }